#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer { // Layer 0
            display-name = "Base";
            // -------------
            // |     KNB     |     Mut     |
            bindings = <
                &kp C_MUTE
                &kp F20
            >;
        };
    };
     &studio_unlock
 };